<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', path='/dist/leaflet.js') }}"></script>
    <link href="{{ url_for('static', path='/dist/leaflet.css') }}" rel="stylesheet"/>
    <title>Fastest Computing Route</title>
</head>
<body>
    <header style="margin-bottom: 20px; margin-left: 10%">
        <h1 style="margin-bottom: 0">Fastest Computing Route</h1>
        <a href="/">Home</a> |
        <a href="/google_map">Google Map</a> |
        <a href="/open_street_map">Open Street Map</a> |
        <a href="/multiple">Multiple Points Open Street Map</a> |
        <a href="/google_map/multiple">Multiple Points Google Map</a>
    </header>
    <!-- BODY -->
    {% block core_body%}

    {% endblock core_body%}
    <hr>
</body>
</html>